<nav *ngIf="!isLoggedIn">
    <div class="logoContainer">
        <a routerLink="/" style="cursor:pointer">Group 18</a> 
    </div>
    
    <ul>
        <li>
            <a routerLink="/auth/login" style="cursor:pointer">Login</a>
        </li>
        <li>
            <a routerLink="/auth/signup" style="cursor:pointer">Sign Up</a>
        </li>
    </ul>
</nav>

<nav *ngIf="isLoggedIn">
    <div class="logoContainer">
        <a routerLink="/" style="cursor:pointer">Group 18</a> 
    </div>
    
    <ul>
        <li *ngIf="role == 'ADMIN'">
            <a routerLink="/api/dashboard" style="cursor:pointer">Admin Dashboard</a>
        </li>
        <li>
            <a (click)="logout()" style="cursor:pointer">Logout</a>
        </li>
    </ul>
</nav>

<body>
    <h1>Thank you for registering your interest!</h1>
    <h1>We will be in touch with you shortly.</h1>
</body>